body,p,span,a{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}

.main-header .container-fluid, .slider-section .container-fluid{
  max-width: 1200px;
}
body .btn-primary{
    border: none;
    border-radius: 20px;
    padding: 8px 25px;
    position: relative;
    z-index: 999;
}
body .btn-primary:hover{
    background-color: #fff;
    color: blue;
    border-color: #ffff;
}
.logo img{
    width: 80px;
}
img{
max-width:100%;
}

/* part 4 */
.pricing-section  {

}

.pricing-section-header h4 {
    font-weight: 400;
}
.pricing-section-header h1 {
    margin: 20px 0;
}

.pricing-footer {
    background: blue;
    height: 2px;
    width: 62px;
    margin: auto;
    margin-bottom: 10px;
}
.pricing-section-header p {
    
    color: #808080b8;
    margin-top: 19px;
}
.pricing-all{
    background: #F6F9FC;
}
.pricing-section-header {
    margin-top: 45px;
}
.pricing-card {
    box-shadow: 2px 2px 26px  -11px grey;
    background: white;
    text-align: center;
    padding: 52px 10px;
}
.pricing-card-footer{}
.pricing-card-footer ul{
   
margin-left: -22px;
   
margin-top: 40px;
   
margin-bottom: 32px;
}
.pricing-card-footer ul li{
    list-style: none;
    margin-top: 15px;
}
.pricing-card-header{
    border-bottom: .5px solid #80808057;
    width: 79%;
    margin-left: 37px;
}
.pricing-card-header h4{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 31px;
}
.pricing-card-header h1{}
.pricing-card-header p{
    color: grey;
    margin-left: 1px;
    margin-bottom: 31px;
}
.blue-bg-section{
    background: url(./free-bg.jpg)  no-repeat;
    background-size: cover;
    height: 90vh;
    width: auto;
    position: relative;
    z-index: 999999;
  
}
.blue-bg-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #345dd9d5;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.pricing-section-header{
    
}
.blue-bg-section .pricing-section-header {
    padding: 3px 0;
    
    position: relative;
    top: 143px;
    left: 0;
}

body .btn-light{
    border: none;
    border-radius: 20px;
    padding: 8px 25px;
    position: relative;
    z-index: 999;
    color: blue;
    font-weight: 500;
}
body .btn-light:hover{
    background-color: blue;
    color:#fff ;
    border-color: #ffff;
}

/* 6th day */
.news-letter-section {
    background: #F6F9FC;
}
.news-letter-section-right {
    padding: 49px 40px;
    border-radius: 5px;
    /* margin-right: 20px; */
}
.news-letter-section-right h3{
    font-weight: 400;
}
.news-letter-section-right p{
    font-weight: normal;
}
.input#exampleInputEmail1{}
.news-leter-section-left {
    background: white;
    padding: 19px 39px;
    border-radius: 5px;
}
.news-leter-section-left h3 {
    font-weight: 400;
    margin-bottom: 16px;
}
.news-leter-section-left p{
    color: grey;
}

.logo-section-image img {
    
    height: 129px;
    width: auto;
    padding: -94px;
}
.logo-section{
    padding: 60px 0;
}
.email{
    border: none;
    border-radius: 20px;
    padding: 12px 25px;
   
   
}
.subscribe{
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 12px 28px;
    position: relative;
    
}
.logo-section-image-item {
    width: 221px;
    height: 167px;
    border: 1px solid #dddd;
    padding: 86px;
    transition: .4s;
 
}
.logo-section-image-item:hover{
    background:#ddd;
}
